[submodule "pack/dvim/start/vim-surround"]
	path = pack/dvim/start/vim-surround
	url = git@github.com:tpope/vim-surround.git
[submodule "pack/dvim/start/vim-mkdir"]
	path = pack/dvim/start/vim-mkdir
	url = git@github.com:pbrisbin/vim-mkdir.git
[submodule "pack/dvim/start/vim-visual-star-search"]
	path = pack/dvim/start/vim-visual-star-search
	url = git@github.com:bronson/vim-visual-star-search.git
